.nav-item {
    cursor: pointer;
    font-size: 17px;
    color: #1a2a1a;
    font-weight: 500;
    transition: all 0.3s ease;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent; /* Subrayado invisible */
}

.nav-item:hover {
    color: #6a7a6a; /* Un tono más clarito */
    border-bottom: 2px solid #6a7a6a; /* Aparece el subrayado */
}